<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Books</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/resources/js/loader.js}"></script>
    <style>
        .maintitle{
            color:#003333
        }
    </style>
</head>
<body>

<div th:replace="../views/header :: header"></div>

<div class="container">
    <h2 class="maintitle">All Orders</h2>
    <table class="table">
        <thead>
        <td>id</td>
        <td>Title</td>
        <td>Status</td>
        <td>Techtask</td>
        </thead>
        <tbody id="tablebody">

        </tbody>
    </table>
</div>
</body>
</html>