<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All orders</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script th:src="@{/resources/js/global.js}"></script>
    <style>
        .maintitle{
            color:#003333
        }
    </style>
</head>
<body>

<div th:replace="../views/header :: header"></div>

<div class="container">
    <h2 class="maintitle">All orders</h2>
    </thead>
    <table class="table">
        <thead>
        <td>Title</td>
        <td>Info</td>
        <tbody>
        <tr th:each="order:${orders}">
            <td>
                <a th:href="@{/orders/order(orderId=${order.id})}"
                    th:text="${order.title}"></a>
            </td>
            <td th:if="${order.status<4}" th:text="Deadline + ': '+ ${order.deadline}"></td>
            <td th:if="${order.status==4}" th:text="Ready + ': rank = ' +${order.rank}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>